<%= javascript_include_tag "http://192.168.100.46:9292/faye.js" %>

<div class="container">
	<div class="span6">
		<p class="alert alert-info">
			<%= t('.chat_public_title')%>
		</p>
		
		<div id="chat_contents" class="tab-content">
  			<div class="tab-pane fade active in" id="public">
  				<ul id="chat_messages" style="height:400px; max-height:400px; overflow:auto">
				</ul>
  			</div>
		</div>
	</div>
	<div class="span3">
		<p class="alert alert-info">
			<%= t('.chat_public_list_title')%>
		</p>
		
		<ul id="chat_users" style="height:400px; max-height:400px; overflow:auto">
		</ul>
	</div>
</div>

<div class="container">
	<div class="span9">
		<ul class="nav nav-tabs" id="chat_tabs">
		  <li><a href="#public" class="active" data-toggle="tab">Public</a></li>
		</ul>
	</div>
	<div class="span9">
		<form id="new_message_form" class="form-inline well">
			<input type="text" id="message" name="message" class="input-xxlarge">
			<input type="submit" value="<%= t('.send_text') %>" class="btn btn-primary">
		</form>
	</div>
</div>

<script type="text/javascript">
$(function() {
	var Client = {
		// Inicializamos el cliente.
		server: new Faye.Client('http://192.168.100.46:9292/faye'),
		// Scroll por default
		scroll_counter: 400,
		
		// Método que agrega a la lista a los usuarios menos a sí mismo.
		addOnlyNonUserExists: function(data) {
			if ((data != null) && (data.members != null)) {
				for (var i = 0; i < data.members.length; i++) {
					if ($('#' + data.members[i].user.id).length == 0) {
						$('#chat_users').append('<li id=' + data.members[i].user.id + '><a data-useremail="' + data.members[i].user.email + '" data-userchannel="' + data.members[i].user.channel + '" data-userid="' + data.members[i].user.id + '" class="label" style="font-size: 11px">' + data.members[i].user.email + '</label></li>');
					}
				}
			}
		},
		
		subscribe: function(channel, panelId, isPrivate) {
			// Suscribimos el cliente
			this.server.subscribe('/chats/public/' + channel, function(data) {
				if (data.type != null) {
					switch (data.type) {
						case 'attached':
							$(panelId).append('<li style="font-color: gray; font-style: italic; font-size: 11px"><label class="label label-success">' + data.msg + '</label></li>');
							if (!isPrivate)
								Client.addOnlyNonUserExists(data);
							break;
						case 'exists':
							if (!isPrivate)
								Client.addOnlyNonUserExists(data);
							break;
						case 'abandon':
							$(panelId).append('<li style="font-color: gray; font-style: italic; font-size: 11px"><label class="label label-warning">' + data.msg + '</label></li>');
							
							if (!isPrivate)
								$('#' + data.usr_id).remove();
							break;
						case 'private':
							if (data.private_usr_id == <%= current_user.id.to_s %>) {
								var channel_id = data.channel_id;
								var private_usr_id = data.private_usr_id;
								var user_id = data.usr_id;
								var user_email = data.usr_email;
								var exit = false;
								
								// Verifica que no agregue a un usuario ya existente en privado
								$('#chat_tabs li').each(function(index) {
									var private_userid = $(this).data('userid');
									
									if (private_userid === user_id) {
										exit = true;
										return;
									}
								});
								
								if (exit)
									return;
								
								if (user_id != null) {
									$('#chat_tabs').append('<li id="tab_with_' + user_id + '" data-userid="' + user_id + '" data-channelid="' + channel_id + '" data-panelid="chat_with_' + user_id + '"><a href="#chat_with_' + user_id + '" data-toggle="tab">' + user_email + '&nbsp;&nbsp;<button data-userid="' + user_id + '" class="close">&times;</button></a></li>');
									$('#chat_contents').append('<div id="chat_with_' + user_id + '" class="tab-pane fade"><ul id="chat_messages_' + user_id +'" style="height:400px; max-height:400px; overflow:auto"></ul></div>')
									
									Client.subscribePrivate(channel_id, user_id, '#chat_with_' + user_id, false);
								}
							}
								
							break;
					}
				}
				
				if (data.usr != null && data.msg != null) {
					$(panelId).append('<li>' + data.usr + ": " + data.msg + '</li>');
				}
			});
		},
		
		subscribePrivate: function(channel, memberId, panelId, notify) {
			// Se agrega la extensión
			this.server.addExtension({
				outgoing: function(message, callback) {
					if (message.channel === '/meta/subscribe' || message.channel === '/meta/disconnect') {
						// Establecer el id del usuario
						message.user_id = message.user_id || {};
						message.user_id = '<%= current_user.id.to_s %>';
						
						// Establecer el correo del usuario
						message.user_email = message.email || {};
						message.user_email = '<%= current_user.email %>';
						
						// Establecer el id del chat privado
						message.private_channel_id = message.private_channel_id || {};
						message.private_channel_id = channel;
						
						// Establecer el id del usuario con el que se iniciará chat privado
						message.private_user_id = message.private_user_id || {};
						message.private_user_id = memberId;
						
						// Establecer si se le envia notificación
						message.notify = message.notify || {};
						message.notify = notify;
					}
					
					callback(message);
				}
			});
			
			this.server.subscribe('/chats/private/' + channel, function(data) {
				if (data.type != null) {
					switch (data.type) {
						case 'attached':
							$(panelId + ' ul').append('<li style="font-color: gray; font-style: italic; font-size: 11px"><label class="label label-success">' + data.msg + '</label></li>');
							
							/*if (!isPrivate)
								Client.addOnlyNonUserExists(data);*/
							break;
						case 'exists':
							/*if (!isPrivate)
								Client.addOnlyNonUserExists(data);*/
							break;
						case 'abandon':
							$(panelId + ' ul').append('<li style="font-color: gray; font-style: italic; font-size: 11px"><label class="label label-warning">' + data.msg + '</label></li>');
							
							/*if (!isPrivate)
								$('#' + data.usr_id).remove();*/
							break;
					}
				}
				
				if (data.usr != null && data.msg != null) {
					$(panelId + ' ul').append('<li>' + data.usr + ": " + data.msg + '</li>');
				}
			});
		},
		
		publish: function(channel, message, panelId) {
			this.server.publish('/chats/public/' + channel, { usr: '<%= current_user.email %>', msg: message });
		},
		
		privatePublish: function(channel, message, panelId) {
			this.server.publish('/chats/private/' + channel, { usr: '<%= current_user.email %>', msg: message });
		}
	};
	
	// Se agrega la extensión
	Client.server.addExtension({
		outgoing: function(message, callback) {
			if (message.channel === '/meta/subscribe' || message.channel === '/meta/disconnect') {
				// Establecer el id de la compañia
				message.company_id = message.company_id || {};
				message.company_id = '<%= Digest::MD5.hexdigest current_user.company_id.to_s %>';
				
				// Establecer el id del usuario
				message.user_id = message.user_id || {};
				message.user_id = '<%= current_user.id.to_s %>';
				
				// Establecer el correo del usuario
				message.user_email = message.email || {};
				message.user_email = '<%= current_user.email %>';
			}
			
			callback(message);
		}
	});
	
	var channel = '<%= Digest::MD5.hexdigest current_user.company_id.to_s %>';
	var scroll_counter = 400;
	
	// Se hace el subscribe al canal público
	Client.subscribe(channel, '#chat_messages', false);
	
	$('#new_message_form').submit(function() {
		var isPrivateChannel = false;
		var privateChannel = "";
		var panelPrivateChannel = "";
		
		$('#chat_tabs li').each(function(index) {
			if ($(this).attr('class') == 'active') {
				privateChannel = $(this).data('channelid');
				panelPrivateChannel = $(this).data('panelid');
				
				if (privateChannel != null)
					isPrivateChannel = true;
			}
		});
		
		var message = $('#message').val();
		
		if (!isPrivateChannel) {
			Client.publish(channel, message, '#chat_messages');
			$('#chat_messages').animate({scrollTop: scroll_counter}, 50);
			scroll_counter += 50;
		} else {
			Client.privatePublish(privateChannel, message, '#' + panelPrivateChannel, true);
			$('#' + panelPrivateChannel).animate({scrollTop: scroll_counter}, 50);
			scroll_counter += 50;
		}
		
		$('#message').val('');
		
		return false;
	});
	
	// Se realiza el bind de los eventos
	$('#chat_users').on('click', 'a', function(event) {
		// Obtenemos el id
		var email = $(this).data('useremail');
		var id = $(this).data('userid');
		var channel = $(this).data('userchannel');
		var exit = false;
		
		// Verifica que no se agregue a si mismo
		if ('<%= current_user.id.to_s %>' == id)
			return;
			
		// Verifica que no agregue a un usuario ya existente en privado
		$('#chat_tabs li').each(function(index) {
			var private_userid = $(this).data('userid');
			
			if (private_userid === id) {
				exit = true;
				return;
			}
		});
		
		if (exit)
			return;
		
		if (id != null) {
			$('#chat_tabs').append('<li id="tab_with_' + id + '" data-userid="' + id + '" data-channelid="' + channel + '" data-panelid="chat_with_' + id + '"><a href="#chat_with_' + id + '" data-toggle="tab">' + email + '&nbsp;&nbsp;<button data-userid="' + id + '" class="close">&times;</button></a></li>');
			$('#chat_contents').append('<div id="chat_with_' + id + '" class="tab-pane fade"><ul id="chat_messages_' + id +'" style="height:400px; max-height:400px; overflow:auto"></ul></div>')
			
			Client.subscribePrivate(channel, id, '#chat_with_' + id);
		}
	});
	
	$('#chat_tabs').on('click', 'button', function(event) {
		var id = $(this).data('userid');
		var channel = $(this).data('userchannel');
		
		$('#tab_with_' + id).remove();
		$('#chat_with_' + id).remove();
	});
	
	$('#chat_tabs a[href="#public"]').tab('show');
	
});
</script>
